* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f5c33b;
  color: #fa383e;
  margin-bottom: 3%;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 3%;
}

footer h3 a {
  text-decoration: none;
  font-family: "Mr De Haviland", cursive;
  font-size: 30px;
  color: #fa383e;
  font-weight: 900;
}

.logo a {
  text-decoration: none;
  color: #fa383e;
  font-family: "Mr De Haviland", cursive;
  font-size: 70px;
  font-weight: 900;
}

.nav-list {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-right: 3%;
  padding: 2%;
}

.nav-list li a {
  text-decoration: none;
  color: #fa383e;
  font-size: 24px;
  font-family: "Libre Baskerville", serif;
  font-weight: 900;
}

main {
  margin-top: 5%;
  padding: 5%;

  /* background-color: #ff1018; */
  background-image: url("/src/Ginett-4.jpg");
}

.meals {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.meals li {
  width: 300px;
  height: 425px;
  background-color: #f5c33b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 30px;
  border-radius: 7.5%;
  -webkit-border-radius: 7.5%;
  -moz-border-radius: 7.5%;
  -ms-border-radius: 7.5%;
  -o-border-radius: 7.5%;
}

.meals figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meals figure figcaption {
  padding: 5%;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 24px;
  font-weight: 600;
  color: #ff1018;
}

.meals #buttons {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meals li #likes {
  display: flex;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  background-color: #fa383e;
  border-radius: 8%;
  -webkit-border-radius: 8%;
  -moz-border-radius: 8%;
  -ms-border-radius: 8%;
  -o-border-radius: 8%;
}

.meals li .com {
  display: flex;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #fa383e;
  padding: 15px 15px;
  border-radius: 8%;
  -webkit-border-radius: 8%;
  -moz-border-radius: 8%;
  -ms-border-radius: 8%;
  -o-border-radius: 8%;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  justify-content: center;
  align-items: center;
  background-color: #f5c33b;
  font-family: "Libre Baskerville", serif;
  color: #ff1018;
  font-weight: 900;
}

#popup {
  display: none;
}

#popup.active {
  display: block;
}

#popup .overaly {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

#popup .overaly.hidden {
  display: none;
}

#popup .content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #f5c33b;
  color: #fa383e;
  width: 600px;
  /* height: 600px; */
  z-index: 2;
  padding: 20px;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

#popup .content.hidden {
  display: none;
}

#popup .content .close-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
}
#popup .content .form_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#popup .content .form_x {
  display: flex;
  flex-direction: column;
}
